<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleToolbar.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Books</span>

  <form [formGroup]="searchForm" (ngSubmit)="submit()">
    <mat-form-field class="search-full-width">
      <mat-label>Search</mat-label>
      <input matInput placeholder="find your dream book here..." type="text" formControlName="title">
      <button mat-icon-button matSuffix type="submit">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>

  <span class="example-spacer"></span>
  <button mat-icon-button aria-label="Shopping cart">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button mat-icon-button aria-label="User information">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
